html{
    background: #614385;
    background: -webkit-radial-gradient(#614385 , #516395); 
    background: radial-gradient(#614385 , #516395); 
    font-family: 'Roboto', sans-serif;
    min-height:100%;    
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{background:#fff; max-width:500px; padding:20px;}

h1{font-size:32px; text-align:center; text-transform:uppercase; color:white;font-weight:normal;}
p{color:whitesmoke; text-align:center;}

input[type="number"]{padding:5px; border-radius:3px; border:1px solid #999; width:90%; margin-bottom:10px; font-size:16px;}
input[type="number"]:focus{border-color:#151F1F;}

.conversionWrapper{width:70%; margin:0 auto;}

.convertButton{text-align:center; margin:10px auto 0; text-transform:uppercase; color:white; background-color:#614385; border:1px solid #614385; border-radius:3px; padding:5px 20px; cursor:pointer; transition: 0.3s background ease-in; display:block;}
.convertButton:hover{background-color:#516395; border-color:#614385;}





/*
<table>
                    <tr>
                        <td><input type="number" id="fromAmount" placeholder="0.00" step="0.01" value="1" onkeyup="convertCurrency();"/></td>
                        <td>
                            <select id="from" onchange="convertCurrency();">
                            <option value="USD" selected>USD</option>
                            <option value="AUD">AUD</option>
                            <option value="BGN">BGN</option>
                            <option value="BRL">BRL</option>
                            <option value="CAD">CAD</option>
                            <option value="CHF">CHF</option>
                            <option value="CNY">CNY</option>
                            <option value="CZK">CZK</option>
                            <option value="DKK">DKK</option>
                            <option value="GBP">GBP</option>
                            <option value="HKD">HKD</option>
                            <option value="HRK">HRK</option>
                            <option value="HUF">HUF</option>
                            <option value="IDR">IDR</option>
                            <option value="ILS">ILS</option>
                            <option value="INR">INR</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="MXN">MXN</option>
                            <option value="MYR">MYR</option>
                            <option value="NOK">NOK</option>
                            <option value="NZD">NZD</option>
                            <option value="PHP">PHP</option>
                            <option value="PLN">PLN</option>
                            <option value="RON">RON</option>
                            <option value="RUB">RUB</option>
                            <option value="SEK">SEK</option>
                            <option value="SGD">SGD</option>
                            <option value="THB">THB</option>
                            <option value="TRY">TRY</option>
                            <option value="ZAR">ZAR</option>
                            <option value="EUR">EUR</option>
                            </select>
                        </td>
                    </tr>
                <tr>
                    <td><input type="number" id="toAmount" placeholder="0.00" step="0.01" value="1" onkeyup="convertCurrency();"/></td>
                        <td>
                            <select id="to" onchange="convertCurrency();">
                            <option value="USD" >USD</option>
                            <option value="AUD">AUD</option>
                            <option value="BGN">BGN</option>
                            <option value="BRL">BRL</option>
                            <option value="CAD">CAD</option>
                            <option value="CHF">CHF</option>
                            <option value="CNY">CNY</option>
                            <option value="CZK">CZK</option>
                            <option value="DKK">DKK</option>
                            <option value="GBP" selected>GBP</option>
                            <option value="HKD">HKD</option>
                            <option value="HRK">HRK</option>
                            <option value="HUF">HUF</option>
                            <option value="IDR">IDR</option>
                            <option value="ILS">ILS</option>
                            <option value="INR">INR</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="MXN">MXN</option>
                            <option value="MYR">MYR</option>
                            <option value="NOK">NOK</option>
                            <option value="NZD">NZD</option>
                            <option value="PHP">PHP</option>
                            <option value="PLN">PLN</option>
                            <option value="RON">RON</option>
                            <option value="RUB">RUB</option>
                            <option value="SEK">SEK</option>
                            <option value="SGD">SGD</option>
                            <option value="THB">THB</option>
                            <option value="TRY">TRY</option>
                            <option value="ZAR">ZAR</option>
                            <option value="EUR">EUR</option>
                            </select>
                        </td>
                    </tr>
                </table>*/




    
/*
//
//
//    var currencies =['USD','AUD','BGN','BRL','CAD','CHF','CNY','CZK','DKK','GBP','HKD','HRK','HUF','IDR','ILS','INR','JPY','KRW','MXN','MYR','NOK','NZD','PHP','PLN','RON','RUB','SEK','SGD','THB','TRY','EUR'];
//
//    var cur = document.getElementById('CurrencyList');
//    var fragment = document.createDocumentFragment();
//    currencies.forEach(function(currency, index){
//        var opt = document.createElement('option');
//        opt.innerHTML = currency;
//        opt.value = currency;
//        fragment.appendChild(opt);
//
//    });
//
//    cur.appendChild(fragment);
//
//    var cur2 = document.getElementById('CurrencyList2');
//    var fragment = document.createDocumentFragment();
//    currencies.forEach(function(currency, index){
//        var opt = document.createElement('option');
//        opt.innerHTML = currency;
//        opt.value = currency;
//        fragment.appendChild(opt);
//
//    });
//
//    cur2.appendChild(fragment);
//    console.log(typeof(cur));
//    console.log(fragment);
//    console.log(cur2);*/
